<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.TblBoardMasterMapper">

	<insert id="insertMaster" parameterType="map">
	INSERT
	INTO
	MULTIBOARD_EX.TBL_BOARD_MASTER
	(GCODE,
	GDEPTH,
	GTITLE,
	ETC1,
	ETC2,
	ETC3,
	WRITER,
	FIRSTREGISTER,
	REGDATE,
	LASTREGISTER,
	UPDATEDATE)
	VALUES(#{GCODE},
	#{GDEPTH},
	#{GTITLE},
	#{ETC1},
	#{ETC2},
	#{ETC3},
	#{WRITER},
	#{FIRSTREGISTER},
	SYSDATE,
	#{LASTREGISTER},
	SYSDATE
	)
	</insert>

	<select id="readMaster" parameterType="map" resultType="map">
	<![CDATA[
	SELECT
		GCODE,
		GDEPTH,
		GTITLE,
		ETC1,
		ETC2,
		ETC3,
		WRITER,
		FIRSTREGISTER,
		REGDATE,
		LASTREGISTER,
		UPDATEDATE
	FROM
		MULTIBOARD_EX.TBL_BOARD_MASTER
	 WHERE GCODE = #{GCODE}
	]]>
	</select>
	
	<select id="getListMaster" parameterType="map" resultType="map">
	<![CDATA[
	SELECT
	GCODE,
	GDEPTH,
	GTITLE,
	ETC1,
	ETC2,
	ETC3,
	WRITER,
	FIRSTREGISTER,
	REGDATE,
	LASTREGISTER,
	UPDATEDATE
	FROM
	MULTIBOARD_EX.TBL_BOARD_MASTER
	]]>
	</select>
	
	<update id="updateMaster" parameterType="map">
	UPDATE
	MULTIBOARD_EX.TBL_BOARD_MASTER
	SET
	GDEPTH = #{GDEPTH},
	GTITLE = #{GTITLE},
	ETC1 = #{ETC1},
	ETC2 = #{ETC2},
	ETC3 = #{ETC3},
	WRITER = #{WRITER},
	LASTREGISTER = #{LASTREGISTER},
	UPDATEDATE = SYSDATE
	WHERE GCODE = #{GCODE}
	</update>

	<delete id="deleteMaster" parameterType="map">
	DELETE
	FROM
	MULTIBOARD_EX.TBL_BOARD_MASTER
	WHERE
	GCODE = #{GCODE} 
	</delete>
	
</mapper>